#div1 {
    width: 400px;
    height: 90px;
    border: 1px solid red;
    margin-top: 20px;
    padding: 5px 5px 5px 5px;
    display: inline-block;
}

#div2 {
    width: 200px;
    height: 190px;
    border: 1px solid red;
    margin-top: 20px;
    padding: 5px 5px 5px 5px;
    display: inline-block;
}

#newSpan {
    margin: 20px 20px 20px 20px;
    display: block;
}