p { 
    font-size: 12px !important;
}

p {
    font-size: 40px;
}

#p1 {
    font-size: 20px;
}

#p2 {
    font-size: 10px;
}

.yellow {
    background-color: yellow;
}

/*#identyfikator { ważność styli zadanie 4: id, klasa, tag
    background-color: red;
}*/

/*div {
    background-color: blue;
}*/

/*.klasa {
    background-color: green;
}*/