/* ----- Task 1 ----- */

p {
    background-color: red;
}

#inny {
    background-color: blue;
}

.blog {
    background-color: #c2b280;
}

div .blog p {
    background-color: pink;
}

div #rodzic > p {
    background-color: green;
}

#rodzic p {
    background-color: blue;
}

#other + p {
    background-color: brown;
}

#other div p {
    background-color: violet;
}

/* ----- Task 2 ----- */

h1, h2, h3, h4, h5 {
    background-color: green;
}

.white, .black {
    background-color: grey;
}

div .important:not(p) {
    background-color: green;
}

.white, .black, .important  {
    background: blue;
}

/* ----- Task 3 ----- */

