/*#firstTask {  circle
    background-color: greenyellow;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    text-align: center;
    line-height: 200px;
}*/

/*#firstTask {  lime
    background-color: greenyellow;
    width: 400px;
    height: 400px;
    border-radius: 5px 50px 5px;
    text-align: center;
    line-height: 200px;
}*/

#firstTask {
    background-color: greenyellow;
    width: 400px;
    height: 400px;
    border-radius: 5px 50px 5px;
    text-align: center;
    line-height: 200px;
}