/*#leftDiv {  task 1-4
    float: left;
    width: 200px;
    height: 200px;
    border: 1px solid blueviolet;
    text-transform: uppercase;
}

#rightDiv {
    float:left;
    width: 200px;
    height: 200px;
    border: 1px solid blueviolet;
    text-transform: lowercase;
}

#divTask2 {
    width: 800px;
    border-top: 1px solid red;
}

#bottomDiv {
    clear: both;
    width: 200px;
    height: 200px;
    border: 1px solid firebrick;
}

#menu li {
    float: left;
    padding: 5px;
    list-style: none;
}*/

/*#task5img {  task 5
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
}*/

#task6 {
    width: 900px;
    height: 350px;
    display: block;
    border: 1px solid blue;
    margin: 10px;
    padding: 10px;
}

#task6img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
    position: absolute;
    top: 340px;
    left: 890px;
}

/*z-index, left, top
http://pl.html.net/tutorials/css/lesson15.php*/

#test {
    position:absolute;
    bottom: 40px;
    right: 101px;
}